@import '../css-config/mixins.scss';

.sidebar {
    background-color: rgb(15, 14, 14);
    border-radius: '0 20px 20px 0';
    // align-items: center;
    // padding: 5px;
    .ant-divider {
        display: none;

        @include md {
            color: white;
            display: block;
        }
    }

    h5 {
        color: white;
    }

    ul {
        border-radius: 10px;

        .ant-menu-title-content {

            display: none;

            @include md {
                display: inline-block;

            }
        }
    }
}

@media (max-width:767px) {
    .sidebar {
        border-radius: 0 0 20px 20px;
    }
}
@media (min-width:768px) {
    .sidebar {
        border-radius: 0 20px 20px 0;
    }
}