.student-main{
    .top-side{
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 10px;
        justify-content: space-between;      
    }
}
.tr{
    text-align: center;
}
label{
    font-weight: 600;
    margin: 5px;
}